@model LungmenSoftware.Models.ViewModel.ChangeRequestViewModelForModification

@{
    ViewBag.Title = "修改/澄清軟體變更內容";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-10">
                <h4>請修改或確認相關資訊</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ChangeRequest.ChangeRequestId)

                <div class="form-group">
                    @Html.LabelFor(model => model.ChangeRequest.SerialNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ChangeRequest.SerialNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.ChangeRequest.SerialNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ChangeRequest.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ChangeRequest.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ChangeRequest.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ChangeRequest.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ChangeRequest.Note, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ChangeRequest.Note, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                @for (int i=0; i<Model.ChangeDeltas.Count;i++)
                {
                    @Html.HiddenFor(model=> model.ChangeDeltas[i].ChangeDeltaId)
                    <h4>軟體名稱: @Model.ChangeDeltas[i].RevInfos[i].SoftwareName</h4>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ChangeDeltas[i].OriginalValue, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model=> model.ChangeDeltas[i].OriginalValue, new {htmlAttributes = new {@class = "form-control", @disabled = true}})
                            @Html.ValidationMessageFor(model => model.ChangeDeltas[i].OriginalValue, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ChangeDeltas[i].NewValue, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ChangeDeltas[i].NewValue, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChangeDeltas[i].NewValue, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="送出" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("回到軟體修改清單", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
