@model LungmenSoftware.Models.CodeFirst.Entities.ChangeRequest

@{
    ViewBag.Title = "審查軟體修改要求";
}

<h2>審查軟體修改-@Model.SerialNumber</h2>
<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("回到軟體修改清單", "Index")
     </div>
</div>
<div class="row">
        <div class="col-md-4">
            <h4>軟體變更表單基本資訊</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ChangeRequestStatuses[0].ChangeRequestStatusType.StatusName)
                </dt>

                <dd>
                    Waiting For Approval
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastModifiedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastModifiedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Note)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Note)
                </dd>

            </dl>

        </div>
        <div class="col-md-offset-2 col-md-2">
            @Html.ActionLink("退回修改", "CommentChangeRequest", new { id = Model.ChangeRequestId }, new { @class = "btn btn-danger" })

            @Html.ActionLink("同意", "ApproveChangeRequest", new { id = Model.ChangeRequestId }, new { @class = "btn btn-primary" })
        </div>

</div>


<p>
    <div class="row">
        @foreach (var delta in Model.ChangeDeltas)
        {
            <div class="col-md-8">
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => delta.RevInfos[0].SoftwareName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => delta.OriginalValue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => delta.NewValue)
                        </th>
                        <th>
                            影響工作站
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => delta.RevInfos[0].SoftwareName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => delta.OriginalValue)
                        </td>
                        <td>
                            @Html.DisplayFor(model => delta.NewValue)
                        </td>
                        <td>
                            <ul>
                                @foreach (var record in delta.RevInfos)
                                {
                                    <li>@record.WorkStationName</li>
                                }
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        }
        
    </div>

    
    
</p>
