@model LungmenSoftware.Models.ViewModel.ChangeRequestViewModelForDetail

@{
    ViewBag.Title = "審查軟體修改要求";
}

<h2>審查軟體修改-@Model.ChangeRequest.SerialNumber</h2>
<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("回到軟體修改清單", "Index")
     </div>
</div>
<div class="row">
        <div class="col-md-4">
            <h4>軟體變更表單基本資訊</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ChangeRequest.ChangeRequestStatuses[0].ChangeRequestStatusType.StatusName)
                </dt>
                    
                <dd>
                    @Html.DisplayFor(model => model.ChangeRequest.ChangeRequestStatuses[0].ChangeRequestStatusType.StatusName)
                </dd>

                

                <dt>
                    @Html.DisplayNameFor(model => model.ChangeRequest.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ChangeRequest.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ChangeRequest.DesignDoc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ChangeRequest.DesignDoc)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ChangeRequest.CreatedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ChangeRequest.CreatedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ChangeRequest.CreateDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ChangeRequest.CreateDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ChangeRequest.LastModifiedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ChangeRequest.LastModifiedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ChangeRequest.Note)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ChangeRequest.Note)
                </dd>

            </dl>

        </div>
        

</div>


    <div class="row">
        
            <div class="col-md-12">
                <table class="table table-bordered table-condensed">
                    @if (Model.ChangeDeltas.Count > 0)
                    {
                        foreach (var delta in Model.ChangeDeltas)
                        {
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => delta.RevInfos[0].SoftwareName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => delta.OriginalValue)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => delta.NewValue)
                                    </th>
                                    <th>
                                        影響工作站
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => delta.RevInfos[0].SoftwareName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => delta.OriginalValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => delta.NewValue)
                                    </td>
                                    <td>
                                        <ul>
                                            @foreach (var record in delta.RevInfos)
                                            {
                                                <li>@record.WorkStationName</li>
                                            }
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    }

                    @if (Model.NumacChangeDeltas.Count > 0)
                    {
                        <thead>
                            <tr>
                                <th>Panel</th>
                                <th>Subsystem</th>
                                <th>Module Name</th>
                                <th>Socket Location</th>
                                <th>Assembly</th>
                                <th>Serial Number</th>
                                <th>Program</th>
                                <th>Revision</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.NumacChangeDeltas)
                            {
                                <tr>
                                    <td>@item.Panel</td>
                                    <td>@item.ChassisName</td>
                                    <td>@item.ModuleBoardName</td>
                                    <td>@item.SocketLocation</td>
                                    <td>
                                        <div>建置值: @item.OriAssembly</div>
                                        <div>變更值: @item.Assembly</div>
                                    </td>
                                    <td>
                                        <div>建置值: @item.OriSerialNumber</div>
                                        <div>變更值: @item.SerialNumber</div>
                                    </td>
                                    <td>
                                        <div>建置值: @item.OriProgram</div>
                                        <div>變更值: @item.Program</div>
                                    </td>
                                    <td>
                                        <div>建置值: @item.OriRev</div>
                                        <div>變更值: @item.Rev</div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                  
                </table>
            </div>
        
        
    </div>


<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model=>model.ChangeRequest.ChangeRequestId)
            <div class="form-group">
                @Html.LabelFor(model => model.ChangeRequestMessage.Message, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ChangeRequestMessage.Message, new {htmlAttributes = new {@class = "form-control", disabled = "disabled"}})
                    @Html.ValidationMessageFor(model => model.ChangeRequestMessage.Message, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.Label("審查選項", htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    <select name="reviewOptions" class="form-control">
                        <option selected="selected">請選擇審查選項</option>
                        <option>同意</option>
                        <option>審查有意見，退回修改</option>
                    </select>
                </div>
            </div>
            <span style="color: red">@ViewBag.Error</span>
            <hr/>
            <div>
                <table class="table table-condensed table-striped table-hover">
                    <tr>
                        <th>內容</th>
                        <th>回應人員</th>
                        <th>日期</th>
                    </tr>
                    @foreach (var item in Model.ChangeRequestMessages)
                    {
                        <tr>
                            <td>@item.Message</td>
                            <td>@item.CreateBy</td>
                            <td>@item.CreateTime</td>
                        </tr>
                    }
                </table>
            </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="送出" class="btn btn-default" />
        </div>
    </div>
            
        }
    </div>
</div>