@model LungmenSoftware.Models.ViewModel.FoxSoftView

@{
    ViewBag.Title = "已安裝軟體";
}


<br/>

<div class="row">
    <div class="col-md-8">
        <h4>FoxBoro應用軟體</h4>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.APList[0].SoftwareName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.APList[0].Rev)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.APList[0].Note)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.APList[0].IsLocked)
                </th>
                <th></th>
            </tr>

            @if (!Model.APList.Count.Equals(0))
            {
                foreach (var item in Model.APList)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => item.FoxSoftwareId)
                            @Html.DisplayFor(modelItem => item.SoftwareName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rev)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            @if (item.IsLocked == false)
                            {
                                <span>否</span>
                            }
                            else
                            {
                                <span>是</span>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("詳細資料", "SoftwareDetail", new {id = item.FoxSoftwareId})

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        無安裝相關程式或軟體
                    </td>
                </tr>
            }


        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h4>FoxBoro系統軟體及驅動程式</h4>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OSList[0].SoftwareName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OSList[0].Rev)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OSList[0].Note)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OSList[0].IsLocked)
                </th>
                <th></th>
            </tr>
            @if (!Model.OSList.Count.Equals(0))
            {
                foreach (var item in Model.OSList)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => item.FoxSoftwareId)
                            @Html.DisplayFor(modelItem => item.SoftwareName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rev)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            @if (item.IsLocked == false)
                            {
                                <span>否</span>
                            }
                            else
                            {
                                <span>是</span>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("詳細資料", "SoftwareDetail", new { id = item.FoxSoftwareId })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        無安裝相關程式或軟體
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

