@model LungmenSoftware.Models.NUMACFirmware.ChassisBoard

@{
    ViewBag.Title = "CreateChassisBoard";
}

<h2>CreateChassisBoard</h2>


@using (Html.BeginForm(FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ChassisBoard</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m=>m.ChassisBoardId)
       <div class="form-group">
            @Html.LabelFor(model => model.ChassBoardName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChassBoardName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChassBoardName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">對應的Chassis</label>
            <div class="col-md-10">
                @Html.DropDownList("Chassis", (IEnumerable<SelectListItem>)ViewBag.Chassis, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.ChassisId, "", new { @class = "text-danger" })
                
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新增ChassisBoard" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
