@model IEnumerable<LungmenSoftware.Models.ViewModel.FirmwareViewModelV2>

@{
    ViewBag.Title = "NUMAC EPROM清單";
}

<h2>NUMAC EPROM版本清單</h2>

<hr/>

<div ng-app="numacApp">
    <div ng-controller="numacDataGridCtrl as n">
        <button id='toggleFiltering' style="margin-bottom:20px" ng-click="n.toggleFiltering()" class="btn btn-success"><span ng-bind="n.searchTextToggle"></span>簡易搜尋</button>
        <div id="numacDataGrid" ui-grid="n.gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-autoresize>
        </div>
    </div>  
</div>

@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/ui-grid.min.js"></script>

    <script src="~/client/numacApp.js"></script>
    <script src="~/client/controller/numacDataGridController.js"></script>
    

}
<!--
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChassisName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Panel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChassisBoardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocketLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assembly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rev)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChassisName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Panel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChassisBoardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SocketLocation)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Assembly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rev)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.ChassisId })
            
        </td>
    </tr>
}

</table>
-->