<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("龍門非安全軟體構型管理", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Invensys相關資訊<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("工作站資訊", "Index", "FoxWorkStations")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("軟體資訊", "Index", "FoxSoftwares")</li>
                        </ul>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                軟體版本變更<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("新增軟體變更", "AngularForm", "ChangeRequest")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("進行中軟體修改清單", "Index", "ChangeRequest")</li>
                                <li>@Html.ActionLink("已完成軟體修改清單", "HistorialRecords", "ChangeRequest")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("查詢軟體變更表單", "SearchChangeRequest", "ChangeRequest")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("使用者管理", "Index", "User")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DNE Instrument and Control Section</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
