@model LungmenSoftware.Models.ViewModel.WorkStationViewModelForEdit

@{
    ViewBag.Title = "修改工作站相關資料";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.FoxWorkStation.WorkStationId)

        <div class="form-group">
            @Html.LabelFor(model => model.FoxWorkStation.WorkStationName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FoxWorkStation.WorkStationName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.FoxWorkStation.WorkStationName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FoxWorkStation.Owner, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FoxWorkStation.Owner, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.FoxWorkStation.Owner, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FoxWorkStation.WorkStationHardwareTypeId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FoxWorkStation.WorkStationHardwareTypeId, Model.Types, new {@class = "form-control"} )
                @Html.ValidationMessageFor(model => model.FoxWorkStation.WorkStationHardwareTypeId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="更新" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
