@model LungmenSoftware.Models.NUMACFirmware.Chassis

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chassis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChassisName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChassisName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChasisSerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChasisSerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Panel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Panel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChassisId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
